@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #f9f9f9;
    --gray-text: #5f6368;
    --gray-border: #f0f0f0;
    --btn-color: #efefef;
    --dark-gray: #202124;
}

body {
    display: flex;
    font-family: "Roboto", Arial, sans-serif;
}

.projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 12px 64px 12px 24px;
    color: var(--dark-gray);
    background-color: var(--gray);
    border-right: 1px solid var(--gray-border);
    overflow-y: auto;
}

.todo-list {
    height: 100vh;
    width: 80vw;
    padding: 32px 16vw;
}

.add-project-btn {
    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    padding: 12px 0;
    background-color: var(--gray);
}

.project-btn {
    text-align: left;
    background-color: var(--gray);
    border: none;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.75;
}

dialog {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin: auto; 
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.form-buttons {
    display: flex;
    justify-content: right;
    gap: 4px;
}

.form-buttons button {
    border: none;
    padding: 4px;
    border-radius: 8px;
}

.cancel-btn {
    background-color: var(--btn-color);
}

.submit-btn {
    color: white;
    background-color: black;
}

.close-btn {
    float: right;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
}

#show-task div {
    padding: 2px;
}

.task-container {
    display: flex;
    flex-direction: column;
}

.edit-btn {
    background-color: var(--btn-color);
    margin-right: 8px;
    color: var(--dark-gray);    
}

.del-btn {
    background-color: #FF3B30;
    color: white;
}

.task-btns button {
    border: none;
    margin-top: 8px;
    padding: 4px;
    border-radius: 6px;
}

.checkbox {
    margin: 0 8px;
    transform: translateY(3px);
    height: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.task {
    display: flex;
    padding: 16px 0;
    border-bottom: 2px solid var(--gray-border);
}

.task-btn {
    margin-top: 8px;
    color: var(--dark-gray);    
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    padding: 6px;
}

.task-title {
    font-weight: bold;
}

.task-due-date {
    color: var(--gray-text);
}